.search{
    line-height: 2.5rem;
    border-radius:1.25rem ;
    border: none;
    outline: none;
    padding: 0 0 0 2.6rem;
    background-repeat: no-repeat;
    background-size:1rem ;
    background-position: 1rem center;
    height: 2.5rem;
}

.tm-bjs{
    background-color: rgba(255, 255, 255, 0.2);
}

.qh-bjs{
    background-color: #F1F4F9;
}

.bjt{
    background-image: url(@/assets/sc.png);
}

.bjt1{
    background-image: url(@/assets/search.png);
}

.widths12{
    width: 12.5rem;
}